/* first image */
.main-page-first-image{
    background-image:linear-gradient(#bedaf4,#097ae4) ;
    display: flex;
    justify-content: space-around;
    padding: 0;

}



.fishpage{
    margin:70px;
}

.main-page-first-image h2{
    text-align: center;
    color: rgb(255, 255, 255);
    color: #6F1EAA;

}

.main-page-fishes a:link, a:visited,  a:hover, a:active {
    padding: 0px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }


.betta{ 
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        margin: 0;
}


.main-page-fishes{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-content: stretch;
}
.main-page-fishes h3{
    text-align: center;
}

.main-page-fishes li{
    /* border: 1px solid red; */
    cursor: pointer;
    width: 175px;
    height: 175px;
    margin: 5px;
    /* border-radius: 500px; */
}

.fish-image{
    width: 175px;
    height: 175px;
    /* border-radius: 500px; */
    opacity: 0.7;
    
}

.fish-image:hover{
    width: 180px;
    height: 178px;
    /* border-radius: 500px; */
    opacity: 1;
    
}

.fish-image-port{
    width: 175px;
    height: 175px;
    border-radius: 500px;
    opacity: 0.7;
}

.fish-image-port:hover{
    width: 180px;
    height: 178px;
    border-radius: 500px;
    opacity: 1;
}

.main-page-first-image ul li{
    margin-top: 5px;
}

/* second image  */

.main-page-second-image{    
    background-image:linear-gradient(rgb(255, 242, 202),rgb(253, 217, 106)) ;
    display: flex;
    justify-content: space-around;
    padding: 0;

}


.parrotpage{
    margin:70px;
}

.main-page-second-image h2{
    text-align: center;
    color: #3e0368;

}

.main-page-parrots a:link, a:visited,  a:hover, a:active {
    padding: 0px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }


.parrot{ 
        
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        margin-top: 100px;
}

.parrot-image-port{
    width: 175px;
    height: 175px;
    border-radius: 500px;
    opacity: 0.7;
}

.parrot-image-port:hover{
    width: 180px;
    height: 178px;
    border-radius: 500px;
    opacity: 1;
}

.main-page-parrots h3{
    text-align: center;
}

.main-page-parrots{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-content: stretch;
}

.main-page-parrots li{
    /* border: 1px solid red */
    width: 175px;
    height: 175px;
    margin: 0px 5px;
    cursor: pointer;
}
.main-page-second-image ul li{
    margin-top: 5px;
}