.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 35, 32);
    color: #ffffff;
    padding: 0;
}


a:link, a:visited {
    color:#ffffff;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
  }
  
a:hover, a:active{
    color: rgb(211, 231, 249);
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.header ul{
    display: flex;
    list-style: none;
    padding: 5px;
    justify-content: flex-end;
}

.header ul li{
    margin:  0 15px;
    color: #ffffff;
    cursor: pointer;
}

.header span h4{
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}